.characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  grid-gap: 20px;
  color: #ccc;
}

.character {
  padding: 30px;
  border-radius: 16px;
  background: rgba(255,255,255,0.15);
}

.character-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.character h1 {
  margin: 0;
  margin-top: 10px;
}

.character img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.character h2 {
  font-size: 1em;
}

.character-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 0px 50px;
}

.character-details h2:nth-child(even) {
  justify-self: end;
  color: green;
}